
body{
    font-family: 'Space Grotesk', sans-serif;
    display:flex;
    height:100%;
    flex-direction: row;
    margin:0;
    padding:0;

}
.frontCard{
background-image: url(images/bg-card-front.png);
position: absolute;
min-width: 26.5%;
min-height: 25.2%;
top:20%;
left:10%;
}
.frontCard img{
    margin: 6%;

}
#cardNumber{
margin-left: auto;
margin: 0;
color:white;
font-weight:500;
font-size: 30px;
letter-spacing: 3px;
text-align:center;
margin-top:10%
}
#cardName{
    color:white;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing:1px;
    margin-left:6.5%;
}
#cardExp{
position: absolute;
bottom: 2%;
left: 80%;
color:white;
letter-spacing: 2px;
}
.backCard{
    position:absolute;
    top:50%;
    left:17%;
}
.cvv{
    position: absolute;
    bottom:41%;
    left:80%;
    color: white;
    letter-spacing: 3px;
}
.formSectionBorder{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
/* height:100%; */
    flex-grow:1;
}
.formSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:40%;
    width:40%;
}
.formSection input{
    height:12%;
}
.leftImage{
    width:30%;
}
input{
    height:20%;
    border-radius: 13px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size:16px;
}
label{
    font-size: 13px;
    margin-left: 2px;
    color: hsl(278, 68%, 11%);
    font-weight: lighter;
}
.botWrapper{
    display:flex;
    flex-direction: row;
    height:20%;

}
.botWrapper input{
    height:50%;

}
.botLeft{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;

    width:48%;
}
.botLeft label{
    width:100%;
    margin-left: 2px;
}
.botLeft input{
width:45%;
}
.botRight{
    width:48%;
    margin-left: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botRight label{
    width:100%;
    margin-left: 2px;
}
.botRight input{
    width:100%;
}
button{
    height:15%;
    width:99.99%;
    background-color:hsl(278, 68%, 11%);
    color:white;
    font-size: 18px;
    border-radius: 13px;
}
